/* Style */

body {
    align-items: flex-start;
}



#survey-wrapper h1,
#survey-wrapper h2,
#survey-wrapper h3,
#survey-wrapper h4,
#survey-wrapper h5,
#survey-wrapper h6 {
    font-weight:bold;
}

/* Field headings */
._1wOydBgObqX6N_H4ZxO4E5 {
    margin-bottom: .3rem;
}


/* Multi-choice answer container */
li._2BCbSBZTAy3NNEkchW4JAl { 
    border:none;
}
li._2BCbSBZTAy3NNEkchW4JAl:hover {
    box-shadow:none;
}
._1jfbTLbCvZUBUbvQ9Xc5cU:not(._3MCBeroqvv7ngcZOci2TF9) ._2BCbSBZTAy3NNEkchW4JAl:last-child {
  border-bottom:none;
}
/* answer text */
.Bd0kav7yJm1LMydxzQxl {
    padding: .5rem 1.3rem .5rem .0;
}
li._2BCbSBZTAy3NNEkchW4JAl label {
    box-shadow: 0 0 0 2px var(--palette-core-outline);
    border-radius:.25rem;
    margin-bottom:.7rem;
}
input[type=radio]:checked+label {
    box-shadow: 0 0 0 2px var(--palette-action-active);
  
}


/* Text entry */
textarea._3VgxUzppbTclqye69HSxig {
    box-shadow: 0 0 0 1px var(--gray-cool-90);
    border:none;
    border-radius:.25rem;
}
textarea._3VgxUzppbTclqye69HSxig:hover {
  box-shadow: 0 0 0 2px var(--gray-cool-90);
}
textarea._3VgxUzppbTclqye69HSxig:focus {
    box-shadow:0 0 0 2px var(--palette-action-active);
}




/* Submit button */
._207sw0FPxzBQQBPqaDdUpd {
    justify-content: unset;
}
button.surveyBtn_submit {
    border-radius: .25rem;
}




/*Powered by Medallia*/
._10o3Ogtkx0b1R7N7tOe-dr {
    display:none;
}





:root {
  --main-black: #1c1d1f;
  --blue-1: #274863;
  --blue-2: #2378c3;
  --gray-1: #f0f0f0;
  --gray-cool-3: #f5f6f7;
  --gray-cool-5: #edeff0;
  --gray-cool-10: #dfe1e2;
  --gray-cool-20: #c6cace;
  --gray-cool-40: #8d9297;
  --gray-cool-50: #71767a;
  --gray-cool-60: #565c65;
  --gray-cool-90: #1c1d1f;
  --blue-40v: #2491ff;
  --blue-50v: #0076d6;
  --blue-60v: #005ea2;
  --blue-70v: #0b4778;
  --blue-80v: #112f4e;
  --violet-70v: #54278f;
  --cyan-5: #e7f6f8;
  --green-cool-50v: #008817;
  --red-cool-10v: #f8dfe2;
  --red-50v: #e52207;
  --gold-10v: #ffe396;
    /* Medallia variables */
  --typography-fontFamily: 'open sans';
  --typography-headline-size: 1rem; /*overridden*/
  --typography-subHeadline-size: 14px;
  --typography-body-size: 1.1rem; /* overridden */
  --typography-bodyLarge-weight: 600;
  --typography-bodyLarge-size: 16px;
  --palette-core-primary: #4050C6;
  --palette-core-canvas: #FFFFFF;
  --palette-core-components: #FFFFFF;
  --palette-core-outline: var(--gray-cool-20);
  --palette-typography-body: var(--gray-cool-90); /* overridden */
  --palette-typography-headline: var(--gray-cool-90); /* overridden */
  --palette-typography-subHeadline: rgba(18, 24, 38, .7);
  --palette-typography-error: #BE0406;
  --palette-typography-placeholder: rgba(18, 24, 38, .7);
  --palette-typography-poweredby: #2C3548;
  --palette-typography-user-input: #000;
  --palette-typography-link: #2467C6;
  --palette-action-hover: var(--blue-2); /* overridden */
  --palette-action-active: var(--blue-50v); /* overridden */
  --palette-group-inner-mark: #ffffff;
  --palette-group-mark-background: var(--blue-2); /* overridden */
  --palette-rating-custom-hover: rgba(254, 215, 44, .7);
  --palette-rating-custom-selected: #FED72C;
  --palette-rating-custom-outline: var(--palette-typography-placeholder);
  --palette-rating-custom-selected-outline: var(--palette-typography-body);
  --palette-rating-number-hover: var(--palette-core-primary);
  --palette-rating-number-selected: var(--palette-core-primary);
  --palette-rating-number-text-hover: var(--palette-typography-body);
  --palette-rating-number-text-selected-hover: var(--palette-core-components);
  --palette-rating-number-text-selected: var(--palette-core-components);
  --palette-rating-number-text: var(--palette-typography-body);
  --survey-sides-padding: 30px;
  --survey-padding: 0 var(--survey-sides-padding);
  --margin-subHeadline: 4px 0 0 0;
  --margin-validationError: 8px 0 0 0;
  --base-headlines-margin: 0 0 10px 0;
  --questions-spacing: 1.5rem;
  --powered-by-display: none; /* overridden */
}
