body {
  align-items: flex-start;
}


#survey-wrapper {
  max-width: 32rem;
}

#survey-wrapper h1,
#survey-wrapper h2,
#survey-wrapper h3,
#survey-wrapper h4,
#survey-wrapper h5,
#survey-wrapper h6 {
  font-weight: bold;
}


/* Multi-choice answer container */
li._2BCbSBZTAy3NNEkchW4JAl {
  border: none;
}
li._2BCbSBZTAy3NNEkchW4JAl:hover {
  box-shadow: none;
}
._1jfbTLbCvZUBUbvQ9Xc5cU:not(._3MCBeroqvv7ngcZOci2TF9) ._2BCbSBZTAy3NNEkchW4JAl:last-child {
  border-bottom: none;
}
/* answer text */
.Bd0kav7yJm1LMydxzQxl {
  padding: .5rem 1.3rem .5rem .0;
}
li._2BCbSBZTAy3NNEkchW4JAl label {
  box-shadow: 0 0 0 2px var(--palette-core-outline);
  border-radius: .25rem;
  margin-bottom: .7rem;
}
input[type=radio]:checked+label {
  box-shadow: 0 0 0 2px var(--palette-action-active);
}


/* Text entry */
textarea._3VgxUzppbTclqye69HSxig {
  border-radius: .25rem;
  padding: .69rem .8rem;
  border: 1px solid var(--gray-cool90);
}
textarea._3VgxUzppbTclqye69HSxig:focus {
  box-shadow: 0 0 0 1px var(--palette-action-active);
  border-color: var(--palette-action-active);
}
textarea._3VgxUzppbTclqye69HSxig:hover {
  box-shadow: 0 0 0 1px var(--palette-action-active);
  border-color: var(--palette-action-active);
}


/* Submit button */
._207sw0FPxzBQQBPqaDdUpd {
  justify-content: unset;
  margin: 0 0 16px;
}
button.surveyBtn_submit {
  border-radius: .25rem;
  font-size: unset;
}

/* Switch approval # and footer */
.approvalnum {
  position: relative;
  margin-top: 3rem;
}
#survey-wrapper footer {
  position: relative;
  top: -7rem;
}


:root {
  /* SSA Variables */
  --main-black: #1c1d1f;
  --blue1: #274863;
  --blue2: #2378c3;
  --gray1: #f0f0f0;
  --gray-cool3: #f5f6f7;
  --gray-cool5: #edeff0;
  --gray-cool10: #dfe1e2;
  --gray-cool20: #c6cace;
  --gray-cool40: #8d9297;
  --gray-cool50: #71767a;
  --gray-cool60: #565c65;
  --gray-cool90: #1c1d1f;
  --blue40v: #2491ff;
  --blue50v: #0076d6;
  --blue60v: #005ea2;
  --blue70v: #0b4778;
  --blue80v: #112f4e;
  --violet70v: #54278f;
  --cyan5: #e7f6f8;
  --green-cool50v: #008817;
  --red-cool10v: #f8dfe2;
  --red50v: #e52207;
  --gold10v: #ffe396;
  /* Medallia variables */
  --typography-headline-size: 1rem;
  --typography-body-size: 1.1rem;
  --palette-core-outline: var(--gray-cool20);
  --palette-typography-body: var(--gray-cool90);
  --palette-typography-link: var(--blue2);
  --palette-action-hover: var(--blue2);
  --palette-action-active: var(--blue50v);
  --palette-group-mark-background: var(--blue2);
  --survey-footer-buttons-justify: flex-start;
  --questions-spacing: 1.5rem;
  --powered-by-display: none;
}
